﻿@model FricFrac.Models.FricFrac.Event
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Event/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event</h2>
           <button type="submit" class="tile">
                <span class="icon-disk"></span>
                <span class="screen-reader-text">Update One</span>
            </button>
           <a href="/Event/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <input type="hidden" id="Event-Id" name="Event-Id" value="@Model.Id" />
            <div>
                <label for="Event-Description">Description</label>
                <input id="Event-Description" name="Event-Description" type="text" value="" required />
            </div>
            <div>
                <label for="Event-Starts">Starts</label>
                <input id="Event-Starts" name="Event-Name" type="text" value="" />
            </div>
            <div>
                <label for="Event-Ends">Ends</label>
                <input id="Event-Ends" name="Event-Ends" type="text" value="" />
            </div>
            <div>
                <label for="Event-Image">Image</label>
                <input id="Event-Image" name="Event-Image" type="text" value="" required />
            </div>
            <div>
                <label for="Event-Location">Location</label>
                <input id="Event-Location" name="Event-Location" type="text" value="" required />
            </div>
            <div>
                <label for="Event-Name">Name</label>
                <input id="Event-Name" name="Event-Name" type="text" value="" required />
            </div>
            <div>
                <label for="Event-OrganiserDescripton">OrganiserDescripton</label>
                <input id="Event-OrganiserDescripton" name="Event-OrganiserDescripton" type="text" value="" required />
            </div>
            <div>
                <label for="Event-OrganiserName">OrganiserName</label>
                <input id="Event-OrganiserName" name="Event-OrganiserName" type="text" value="" required />
            </div>
            <div>
                <label for="Event-EventCategoryId">EventCategory</label>
                <select id="Event-EventCategoryId" name="Event-EventCategoryId">
                    @foreach (var item in ViewBag.EventCategories)
            {
                <option value="@item.Id">@item.Name</option>
    }
                </select>
            </div>
            <div>
                <label for="Event-EventTopicId">EventTopic</label>
                <select id="Event-EventTopicId" name="Event-EventTopicId">
                    @foreach (var item in ViewBag.Countries)
            {
                <option value="@item.Id">@item.Name</option>
    }
                </select>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>

