﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Country/InsertOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Land</h2>
            <button type="submit" class="tile">
                <span class="icon-disk"></span>
                <span class="screen-reader-text">Insert One</span>
            </button>
            <a href="/Country/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
<fieldset>
    <div>
        <label for="Country-Name">Naam</label>
        <input id="Country-Name" name="Country-Name" type="text" value="" required />
    </div>
    <div>
        <label for="Country-Code">Code</label>
        <input id="Country-Code" name="Country-Code" type="text" value="" required />
    </div>
    <div>
        <label for="Country-Desc">Desc</label>
        <textarea id="Country-Desc" name="Country-Desc"></textarea>
    </div>
</fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naam
                    </th>
                    <th>
                        Code
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Code
                        </td>
                        <td>
                            <a href="/Country/ReadingOne/@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </aside>
</form>

