﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/css/app.css">
</head>
<body class="tower">
    <main class="floor">
        @RenderBody()
    </main>
    <footer>
        <p class="copy">concept & design - Red Mind 2017-2018</p>
        <p><a href="/Admin/Index">Beheer</a></p> <div class="vcard">
            <h3>Contact</h3> <p class="fn org">a n<span>orm</span> apart</p>
            <div class="adr">
                <div class="street-address">Koekoekstraat 220</div>
                <div class="postal-code">8550</div> <div class="locality">Zwevegem</div>
                <div class="country-name">België</div>
            </div>
        </div>
    </footer>
</body>
</html>
