﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>Jouri's IT carriere</h1>

<article>
    <h2>Het begin</h2>
    <section>
        <figure>
            <img src="~/images/jpg1.jpg" alt="pepe" />
            <figcaption>Pepe de held</figcaption>
        </figure>
        <div>
            <p>
                Mijn IT verhaal begint in het vierde middelbaar. Daar kreeg ik intresse in HTML. Kort daarna is CSS en uiteindelijk Javascript daarbij gekomen.
                Ik maakte toen kleine webpagina's die enkel uit HTML, CSS en Javascript bestonden om zo animaties in te voegen.
            </p>
        </div>
    </section>
    <h2>Het vervolg</h2>
    <section>
        <figure>
            <img src="~/images/jpg2.jpg" alt="Mooie toeter" />
            <figcaption>Een feesttoeter</figcaption>
        </figure>
        <div>
            <p>
                Daarna begon er op mijn school een nieuwe richting Industriele ICT. Iets wat me echt aansprak, dus ik ben deze ook gaan volgen. Deze richting heeft mij
                een zeer brede basis gegeven van de ICT.
            </p>
            <p>
                Zo hebben we 2 jaar leren programmeren in c# en ook een beetje in Assembly. Elektriciteit, electronica en PLC kwamen ook aanbod. Elk met hun eigen componenten.
                Deze richting is een zeer goede voorbereiding op een bachelor elektromechanica of toegepaste informatica.
            </p>
            <p>
                Als eindwerk voor deze richting had ik aan de hand van machine learning (SVM) een applicatie gemaakt die nummerplaten probeerde te herkennen op video/foto.
                Het werkte niet zo goed, maar was wel leuk om te maken.
            </p>
        </div>
    </section>
    <h2>Het vervolg van het vervolg</h2>
    <section>
        <figure>
            <img src="~/images/jpg3.jpg" alt="Een bolhoed" />
            <figcaption>De eerste bolhoed op de wereld gevonden</figcaption>
        </figure>
        <div>
            <p>
                Na mijn middelbaar ben ik in een moeilijke situatie terecht gekomen waardoor ik mijn bachelor heb moeten stoppen en nu dus een HBO5 opleiding doe.
                Ik ben altijd bezig geweest met IT en heb door de jaren heen mezelf zoveel mogelijk bijgeleerd. Nu kan ik ook al Python en een beetje Java
                en heb een redelijk goede kennis van programmeren in het algemeen opgebouwd.
            </p>
        </div>
    </section>
</article>