﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/SHared/MasterLayout.cshtml";
}

<nav class="control-panel">
    <h1 class="banner">Fric-frac</h1>
</nav>
<section id="show-room">
    <p>Hier komt de Eventkalender</p>
</section>
